@import url('https://fonts.googleapis.com/css?family=Inter');

.Wrapper {
  max-width: 100%;
  margin: 0;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto;
  grid-template-areas:
  "introduction"
  "work"
  "projects";
}

.IntroductionWrapper {
  grid-area: introduction;
  padding: 0.5rem;
}

.WorkWrapper {
  grid-area: work;
  padding: 0.5rem;
}

.ProjectsWrapper {
  grid-area: projects;
  padding: 0.5rem;
  padding-top: 0px;
}

h1 {
  font-size: 32px;
  color: #fafafa;
}

h2 {
  font-size: 24px;
  color:#e5e7eb;
}

h3, h4, h5 {
  color: #e5e7eb;
  font-size: 18px;
}

@media (min-width: 600px) {
  :root {
    --text-size-default: 30px;
  }
  .Wrapper {
    grid-template-areas:
    "introduction work"
    "introduction projects";
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  h3, h4, h5 {
    font-size:20px;
  }
}

:root {
  --background-color-value: #0f172a;
  --font-color-value: #bec4cf;
  --text-size-default: 16px;
}

* {
  background-color: var(--background-color-value);
  color: var(--font-color-value);
  font-family:'Inter', Arial, sans-serif;
  font-size: var(--text-size-default);
}
