@import url('https://fonts.googleapis.com/css?family=Inter');

.resumeLayout {
  max-width: 100%;
  margin: 0;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .resumeLayout { grid-template-columns: repeat(2, 1fr); }
}

:root {
  --background-color-value: #0f172acc;
  --font-color-value: #d1d5db;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color-value: #d1d5db;
    --font-color-value: #0f172acc;
  }
}

* {
  background-color: var(--background-color-value);
  color: var(--font-color-value);
  font-family:'Inter', Arial, sans-serif
}
